.container{
    display: flex;
    padding: 10px;
    text-align: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    color: rgb(15, 111, 255);

    
}

.boton{
    width: 120px;
    margin: auto;
    
}
